<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

<div class="login-box">

    <h1>Projeto Integrador</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="erro">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">

        <input
            type="email"
            name="email"
            placeholder="Digite seu email"
            required
        >

        <div class="senha-box">

            <input
                type="password"
                name="senha"
                id="senha"
                placeholder="Digite sua senha"
                required
            >

            <span onclick="mostrarSenha()">
                👁
            </span>

        </div>

        <button type="submit">
            Entrar
        </button>

    </form>

    <div class="links">
        
        <p align="right"><a href="{{ url_for('paginas.recuperar_senha') }}">
    Esqueci minha senha
</a></p>

<br>
     
        <p>
            Não possui conta?
            <a href="{{ url_for('paginas.cadastro') }}">
                <br><br>
                Criar conta
            </a>
        </p>

    </div>

</div>

<script>

function mostrarSenha() {

    const campo = document.getElementById("senha")

    if (campo.type === "password") {
        campo.type = "text"
    } else {
        campo.type = "password"
    }
}

</script>

</body>
</html>